.dialog__screen input,
.dialog__screen textarea,
.dialog__screen select
{
  width: 100%;
  outline: none;
  border: 0;
  background: #e5e5e5;
  padding: .5em 0;
  text-indent: .2em;
  border-radius: .3em;
  margin: .1em 0 .7em 0;
  color: #777;
}

.dialog__screen [type='text']:focus,
.dialog__screen textarea:focus
{
  box-shadow: inset 1px 3px 1px rgba(0,0,0,.2);

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.dialog__screen label
{
  display: block;
  margin-top: .5em;
  color: #000;
}


.dialog__screen .contact-form__submit
{
  background: #56b880;
  color: #fff;
  font-weight: bold;
  padding: .7em 0;
  text-indent: 0;
}

.dialog__screen .contact-form__submit:hover
{
  background: #3bb2d0;
}


.dialog__screen select
{
  width: 100%;
  border: 0;
  height: 2em;
  background: #f0f0f0;
}
